/* ==========================================================================
   #GRID
   ========================================================================== */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row-space {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.row-refine {
  margin: 0 -15px;
}

/* ==========================================================================
     #BOX-SIZING
     ========================================================================== */
/**
   * More sensible default box-sizing:
   * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
   */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* ==========================================================================
     #RESET
     ========================================================================== */
/**
   * A very simple reset that sits on top of Normalize.css.
   */
body,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

/**
   * Remove trailing margins from nested lists.
   */
li > ol,
li > ul {
  margin-bottom: 0;
}

/**
   * Remove default table spacing.
   */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
   * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
   *    on fieldsets.
   */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0;
}

button {
  outline: none;
  background: none;
  border: none;
  font-family: inherit;
}

/* ==========================================================================
     #PAGE WRAPPER
     ========================================================================== */
.page-wrapper {
  min-height: 100vh;
}

body {
  font-family: "Lato", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 13px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.p-t-275 {
  padding-top: 275px;
}

@media (max-width: 767px) {
  .p-t-275 {
    padding-top: 120px;
  }
}

.wrapper {
  margin: 0 auto;
}

.wrapper--w820 {
  margin-top: -100px;
  max-width: 820px;
}

/* ==========================================================================
     #FORM
     ========================================================================== */
input,
textarea {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}

.input-group {
  position: relative;
  max-width: 593px;
  margin: 0 auto;
}
.btn {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 40px;
  letter-spacing: 1px;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  color: #3a5749;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
  margin-left: 120px;
}

.col-4 {
  margin-left: 100px;
}

.col-3 {
  margin-left: 120px;
}

.btn:active,
.btn:focus {
  background-color: #3a5749;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
.btn:hover {
  background-color: #27332d;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
.input--style-1 {
  border: 1px solid #e5e5e5;
  line-height: 48px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 40px;
  padding: 0 30px;
  margin-bottom: 20px;
  padding-right: 40px;
  font-size: 15px;
  color: #666;
}

.input--style-1::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #999;
}

.input--style-1:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
  opacity: 1;
}

.input--style-1::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
  opacity: 1;
}

.input--style-1:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999;
}

.input--style-1:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999;
}
.form-style {
  padding: 13px 10px;
  padding-left: 35px;
  height: 48px;
  width: 100%;
  margin-bottom: 20px;
  font-weight: 500;
  border-radius: 40px;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: rgb(139, 139, 139);
  background-color: #ffffff;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}

.btn--next:hover {
  background: #3a5749;
}

.form {
  padding: 0 15px;
}

label.error {
  display: block;
  color: rgb(231, 1, 1);
  padding: 3px 30px;
}

/* ==========================================================================
     #SELECT2
     ========================================================================== */
.select--no-search .select2-search {
  display: none !important;
}

.select2-container--open .select2-dropdown--below {
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #e0e0e0;
  margin-top: 5px;
  overflow: hidden;
}

.select2-container--default .select2-results__option {
  padding-left: 22px;
}

.rs-select2 .select2-container {
  width: 100% !important;
  outline: none;
  background: #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.rs-select2 .select2-container .select2-selection--single {
  outline: none;
  border: none;
  height: 50px;
  background: transparent;
}

.rs-select2
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 50px;
  padding-left: 0;
  color: #555;
  font-size: 16px;
  font-family: inherit;
  padding-left: 22px;
  padding-right: 50px;
}

.rs-select2
  .select2-container
  .select2-selection--single
  .select2-selection__arrow {
  height: 50px;
  right: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rs-select2
  .select2-container
  .select2-selection--single
  .select2-selection__arrow
  b {
  display: none;
}

.rs-select2
  .select2-container
  .select2-selection--single
  .select2-selection__arrow:after {
  font-family: "Material-Design-Iconic-Font";
  content: "\f2f9";
  font-size: 24px;
  color: #999;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.rs-select2
  .select2-container.select2-container--open
  .select2-selection--single
  .select2-selection__arrow::after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/* ==========================================================================
     #TAB
     ========================================================================== */
.tab-list {
  list-style: none;
  text-align: center;
  padding: 25px 0;
  border-bottom: 1px solid #e5e5e5;
  background-color: #ffeba7;
}

.tab-list__item {
  display: inline-block;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 0 13px;
}

@media (max-width: 767px) {
  .tab-list__item {
    display: block;
    margin-bottom: 15px;
  }
}

.tab-list__link {
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  display: inline-block;
  -webkit-border-radius: 22.5px;
  -moz-border-radius: 22.5px;
  border-radius: 22.5px;
  background: #999;
  width: 162px;
  text-align: left;
}

@media (max-width: 767px) {
  .tab-list__link {
    width: 100%;
  }
}

.tab-list__link .step {
  display: inline-block;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #666;
  font-size: 18px;
  margin-right: 10px;
}

.tab-list__link .desc {
  text-transform: capitalize;
  display: inline-block;
}

.tab-list .active .tab-list__link {
  background: #598570;
}

.tab-list .active .tab-list__link .step {
  background: #3a5749;
}

.tab-content > .Panel-Content {
  display: none;
  padding: 35px 0;
  padding-bottom: 10px;
}

.tab-content > .Panel-Content {
  display: block;
}

.title {
  font-size: 45px;
  font-weight: 700;
  text-align: left;
  margin: 30px 0px 40px 40px;
}

.card-heading {
  color: #212529;
  background-color: #84a796;
}

.card {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #ffeba7;
}

.card-1 {
  background: transparent;
}
#cardAdd {
  margin-top: 5%;
}
.card-1 .card-body {
  background: #84a796;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

#boutons {
  width: 100%;
  display: inline-flex;
  margin-left: 10px;
  margin-bottom: 30px;
}

.wrapper {
  justify-content: space-evenly;
  border-radius: 5px;
  padding-top: 5%;
}

.wrapper .option {
  background: #fff;
  height: 100%;
  width: 30%;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 20px 20px 100px;
  border-radius: 50px;
  cursor: pointer;
  padding: 6px 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot {
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 100%;
  position: relative;
}
.wrapper .option .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #3a5749;
  border-radius: 100%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"] {
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2 {
  border-color: #3a5749;
  background: #3a5749;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot {
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before {
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span {
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span {
  color: #fff;
}

#prix {
  margin: 20px 0px 10px -20px;
  height: 0%;
}
.dropbox {
  outline: 2px dashed grey; /* the dash box */
  outline-offset: -10px;
  background: lightcyan;
  color: dimgray;
  padding: 10px 10px;
  min-height: 200px; /* minimum height */
  position: relative;
  cursor: pointer;
}

.input-file {
  opacity: 0; /* invisible but it's there! */
  width: 100%;
  height: 200px;
  position: absolute;
  cursor: pointer;
}

.dropbox:hover {
  background: lightblue; /* when mouse over to the drop zone, change color */
}

.dropbox p {
  font-size: 1.2em;
  text-align: center;
  padding: 50px 0;
}
