figure {
  margin: 20px 10px 20px 40px;
}

#map {
  height: 100%;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.carousel {
  height: 78% !important;
  width: 91% !important;
  position: relative;
}
h2 {
  text-align: center;
  font-weight: 600;
  font-size: 60px;
  margin-bottom: 40px;
}
span {
  padding-top: 200px;
}

.card {
  border-radius: 50px;
  box-shadow: 0 8px 8px 8px rgba(21, 21, 21, 0.2);
  margin: 100px 300px 50px 300px;
  padding: 50px 100px 100px 100px;
  background-color: #84a796;
}
.card-content__text {
  margin-top: 50px;
  font-size: 25px;
}
.w-100 {
  width: 100% !important;
}
.d-block {
  margin-left: 160px;
  display: block !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.d-block {
  display: block !important;
  width: 70% !important;
  margin-bottom: 80px;
}
.ajout {
  margin-top: -60px;
  margin-left: 10%;
  font-size: 25px;
}
.description {
  font-weight: 700;
  margin-top: -40px;
  font-size: 30px;
}
a {
  color: #ffeba7;
}
a:hover {
  color: #3a5749;
}
.carousel-control-next-icon {
  border-radius: 50%;
  border: black;
  background-color: black;
}
.btn {
  border-radius: 4px;
  height: 70px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 20px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50px;
  margin-left: 58%;
  margin-top: 5%;
  background-color: #ffeba7;
  color: #3a5749;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
}
p {
  font-size: 40px;
}
span {
  font-size: 50px;
}
.slider {
  padding-top: 200px;
}
.btn:active,
.btn:focus {
  background-color: #ffeba7;
  color: #3a5749;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
.btn:hover {
  background-color: #3a5749;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
