#categories {
  background-color: wheat;
  padding: 20px 0 40px 40px;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
  margin: 100px 100px 100px 100px;
}
h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 50px;
  font-weight: 600;
  color: #3a5749;
}

h3 {
  color: #3a5749;
  font-size: 50px;
  font-weight: 1000;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 30px 0 80px;
}
h3 b {
  color: #3a5749;
}
h3::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 4px;
  background: rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  bottom: -20px;
}
.col-md-12 {
  flex: 0 0 auto;
  width: 800 px;
  height: 1094px;
  margin: auto;
}
.star-rating li {
  padding: 0;
}
.star-rating i {
  font-size: 14px;
  color: #ffc000;
}
video {
  min-width: 100vh;
  width: 100%;
  height: 100%;
}
.video-background {
  position: relative;
  min-width: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.btn {
  border-radius: 4px;
  height: 60px;
  width: 40%;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 20px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50px;
  margin-left: 50%;
  background-color: #0c110f;
  color: #fff1c4;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
}
.btn:active,
.btn:focus {
  background-color: #3a5749;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
.btn:hover {
  background-color: #e4dfd0;
  color: #3a5749;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
