#categories {
  background-color: wheat;
  padding: 20px 0 40px 40px;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
  margin: 100px 100px 100px 100px;
}
h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 50px;
  font-weight: 600;
  color: #3a5749;
}

/* The colour of the indicators */
.blog .carousel-indicators li {
  background: #a3a3a3;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.blog .carousel-indicators .active {
  background: #707070;
}
h3 {
  color: #3a5749;
  font-size: 50px;
  font-weight: 1000;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 30px 0 80px;
}
h3 b {
  color: #3a5749;
}
h3::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 4px;
  background: rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  bottom: -20px;
}
.col-md-12 {
  flex: 0 0 auto;
  width: 800 px;
  height: 1094px;
  margin: auto;
}

video {
  min-width: 100vh;
  width: 100%;
  height: 100%;
}
.video-background {
  position: relative;
  min-width: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.btn,
.btnDetail {
  border-radius: 4px;
  height: 80px;
  width: 40%;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 20px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50px;
  margin-left: 50%;
  background-color: #0c110f;
  color: #fff1c4;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
}
.btn:active,
.btn:focus {
  background-color: #3a5749;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
.btn:hover {
  background-color: #e4dfd0;
  color: #3a5749;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
.btnDetail {
  background-color: #ffeba7;
  color: #3a5749;
  font-size: 30px;
  font-weight: 600;
  height: 80px;
  width: 300px;
  text-align: center;
  text-decoration: none;
  margin-left: 0%;
  margin-top: 20px;
}
.btnDetail:hover {
  color: #ffeba7;
  background-color: #648a77;
}
.card {
  background-color: #3a5749;
  width: 100%;
  height: 1000px;
  padding: 100px 100px 250px 100px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.d-block {
  display: block !important;
  width: 100% !important;
  margin-bottom: 80px;
}
.prix {
  font-size: 40px;
  text-align: center;
  margin-left: 4%;
  margin-top: -25px;
}
.captionTitre {
  font-weight: 800;
  margin-bottom: 20px;
  font-size: 60px;
}
img {
  height: 520px;
  width: 100%;
}
