#navbar {
  background-color: #3a5749;
}
@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
html,
body {
  width: 100%;
  height: 100%;
}

.btn {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #f5deb3;
  color: #3a5749;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
}
.btn:hover {
  background-color: #27332d;
  color: #f5deb3;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
#userIcon {
  margin-right: 30px;
  font-size: 50px !important;
}
.navbar-brand {
  margin-left: 10px;
}
.flexbox {
  background: linear-gradient(155deg, #fff0d3, #f5deb3, #f5deb3);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.search {
  margin: 10px 20px 15px 18px;
}

.search > div {
  display: inline-block;
  position: relative;
}

.search > div:after {
  content: "";
  background: black;
  width: 3px;
  height: 12px;
  position: absolute;
  top: 20px;
  transform: rotate(135deg);
}

.search > div > input {
  color: black;
  font-size: 20px;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 4px black;
  outline: none;
  border-radius: 50px;
  transition: width 0.8s;
}

.search > div > input::placeholder {
  color: #000000;
  transition: 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 0.5;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 250px;
}

.navbar-header.col {
  padding: 0 !important;
}

.navbar .nav-item i {
  font-size: 25px;
  color: #000;
}

.navbar .dropdown-menu a {
  color: #777;
  padding: 8px 20px;
  line-height: normal;
}
.navbar .dropdown-menu a:hover,
.navbar .dropdown-menu a:active {
  color: #333;
}

.navbar .badge {
  color: #fff;
  background: #f44336;
  font-size: 11px;
  border-radius: 20px;
  position: absolute;
  min-width: 10px;
  padding: 4px 6px 0;
  min-height: 18px;
  top: 5px;
}
.navbar a.notifications,
.navbar a.messages {
  position: relative;
  margin-right: 10px;
}
.navbar a.messages {
  margin-right: 20px;
}
.navbar a.notifications .badge {
  margin-left: -8px;
}
.navbar a.messages .badge {
  margin-left: -4px;
}
.navbar .active a,
.navbar .active a:hover,
.navbar .active a:focus {
  background: transparent !important;
}
@media (min-width: 1200px) {
  .form-inline .input-group {
    width: 300px;
    margin-left: 30px;
  }
}
@media (max-width: 1199px) {
  .form-inline {
    display: block;
    margin-bottom: 10px;
  }
  .input-group {
    width: 100%;
  }
}
#profile{

  left: -5%;
  color: black;
}
.dropbtn {
  height: 10%;
  width: 10%;
  padding: 16px;
  font-size: 40px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  appearance: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
