.card {
  width: 50%;
  margin-top: 10px;
  margin-left: 25%;
  justify-content: center;
  background-color: #84a796;
  color: #212529;
  font-size: 20px;
  border-radius: 44px;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
}
h4 {
  font-size: 45px;
  font-weight: 700;
}
button {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
.btnSave {
  margin-top: -20px;
  border-radius: 4px;
  height: 60px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  color: #3a5749;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
}
.btnSave:active,
.btnSave:focus {
  background-color: #3a5749;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
.btnSave:hover {
  background-color: #27332d;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
/* notifications */
@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.Message {
  display: table;
  position: relative;
  margin: 40px auto 0;
  width: 500px;
  background-color: #27ae60;
  color: #fff;
  transition: all 0.2s ease;
}
.Message--orange {
  background-color: #fca624;
}
.Message--green {
  background-color: #27ae60;
}
.Message-icon {
  display: table-cell;
  vertical-align: middle;
  width: 60px;
  padding: 30px;
  text-align: center;
  background-color: rgba(black, 0.25);
}
.Message-body {
  display: table-cell;
  vertical-align: middle;
  padding: 30px 20px 30px 10px;
}
